body {
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
article[id^="Sec_Art0"] {
    display: inline-block;
    margin: 70px 50px 10px 10px;
    vertical-align: top;
    width: 40%;
}
article[id^="Sec_Art0"]:first-child {
    margin-left: 70px;
}
article[id^="Sec_Art0"] img {
    height: 80px;
    position: relative;
}
article[id^="Sec_Arts_"] {
    margin: 50px 10px;
    height: 150px;
    width: 65%;
}
footer {
    background: black;
}
footer article {
    display: inline-block;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px 43px;
    vertical-align: top;
}
footer article:last-child {
    margin-top: 150px;
}
footer img {
    width: 40px;
}

#Header_Art01 {
    background: black;
    height: 60px;
    vertical-align: middle;
}
#Header_Art01 img {
    margin-top: 10px;
    margin-left: 50px;
    width: 40px;
}
#Header_Art01 span {
    position: relative;
    bottom: 12px;
}
#Header_Art01 input[type="button"] {
    border-radius: 5px;
    margin-left: 53%;
    position: relative;
    left: 450px;
    bottom: 12px;
}
#Header_Art01 input[type="button"]:nth-child(4) {
    background: black;
    border: 1px solid white;
    margin-left: 5px;
    padding: 7px 14px;
}
#Header_Art01 input[type="button"]:last-child {
    background: #4B5ED7;
    margin-left: 5px;
    padding: 7px 22px;
}
#Header_Art02 {
    background-color: #DADBF1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 80px 0px;
}
#Header_Art02 input[type="search"] {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px 10px;
    width: 55%;
}

.letraAzul {
    color: #525CD3;
}
.letraBlanca {
    color: white;
}
.text_Articles {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 90px;
    left: 100px;
}
.nito {
    font-weight: bold;
}
.tam_Titulo {
    font-size: 3.5em;
}
.tam_Mini {
    font-size: 0.7em;
}
.tam_General {
    font-size: 1em;
}